.logo-style {
  width: 82px;
  height: 82px;
}
.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.line {
  display: flex;
  width: 29%;
}
hr {
  width: 100%;
  background: black;
}
.google-logo {
  width: 41px;
}
.login-text {
  margin-top: 100px;
  font-size: 3rem;
}
.input-css {
  width: 24%;
  margin-top: 20px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  border-radius: 10px;
}
.btn {
  margin: 20px;
  padding: 9px 45px;
  color: white;
  background-color: var(--brown);
}
.register {
  color: #623939;
}
.register-link {
  text-decoration: none;
  color: brown;
}
.Gsvg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px;
  border: 2px solid #6d6db2;
  padding: 15px;
  gap: 20px;
}
