.HeadingNoti {
  padding: 2rem 2rem 1rem 2rem;
  font-size: 3rem;
  color: var(--brown);
}
.NotiWrapper {
  border: 2px solid var(--brown);
  width: 80%;
  margin: 10px auto;
  font-size: 1.6rem;
}
.notiMessage {
  margin-left: 10px;
}
.accept,
.reject {
  background-color: var(--brown);
  border: 2px solid var(--brown);
  padding: 0.5rem;
  border-radius: 10px;
  color: var(--grey);
  margin: 10px;
}
.footer-style {
  position: absolute;
  bottom: 0;
  width: 99%;
}
.noNoti {
  margin-left: 2rem;
  font-size: 2rem;
  color: #6b5649;
}
