.footer {
  background-color: var(--brown);
  color: var(--grey);
}
.topFooter {
  display: flex;
}
.know,
.social {
  width: 50%;
  text-align: center;
}
.mail {
  text-align: center;
}
.astyle {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--grey);
  transition: 0.3s ease-in-out;
}
.about-style:hover {
  color: #fff;
}
@media screen and (max-width: 630px) {
  .footer {
    font-size: 3vw;
  }
}
